
body {
    margin: 0;
    background-color: #222;
    font-family: 'Work  Sans', sans-serif;
    font-weight: 300;
}
 header{
     font-size: 50px;
     color: #f0fff0;
     background: #55d6aa;
     display: flex;
     justify-content: center;
 }
header::after{
content: '';
display: table;
clear: both;
}
form{
    float: right;
    margin-left: 900px;
}
td{
    font-size: small;
}
input[type=submit]{
    background-color: #aaaaaa;
    padding: 5px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-weight: bolder;
}
input[type=submit]:hover{
    background: aliceblue;
}
 nav{
     float: right;
 }
 nav ul{
     margin: 0;
     padding: 0;
     list-style: none;
 }
 nav li {
     display: inline-block;
     font-size: 20px;
     margin-right: 120px;
     margin-top: 25px;
     padding-top: 0px;
     
     box-shadow: 1px #aaaaaa;
 }




 nav a{

color: whitesmoke;
text-decoration: none;
text-transform: uppercase;
 }
 nav a:hover{
     color: #000;
 }
a{
    text-decoration: none;
}
